puppeteer_skip_chromium_download = true

# proxy=http://appproxy.airtel.com:4145
# https-proxy=http://appproxy.airtel.com:4145
noproxy=10.5.204.129

strict-ssl=false
# registry=http://build.airtelworld.in:8081/nexus/content/groups/npm-all/
registry=http://10.5.204.129:8081/nexus/content/groups/npm-all/
email=dev@airtel.com
# always-auth=true
# _auth=bnBtOm5wbTEyMw== 
